/* global */

:root {
    --primary-color: #0081c9;
    --primary-color-transparent: #0081c9ee;
    --secondary-color: #fffae6;
    --secondary-color-transparent: #fffae6ee;
    --overlay-color: #232323dd;
    --text-color-dark: #232323;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: var(--text-color-dark);
}

.btn {
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    padding: .5em 1em;
    border: solid 3px var(--primary-color);
    border-radius: .5em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-transform: uppercase;
}

.btn:hover {
    background-color: var(--secondary-color-transparent);
    color: var(--primary-color);
}


.tear-up {
    background-image: url('../images/tear-up.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom center;
    width: 100%;
    height: 5vh;
}

.tear-down {
    background-image: url('../images/tear-down.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom center;
    width: 100%;
    height: 5vh;
}
/* header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5em;
    z-index: 99;
    padding: 1em;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .tear-down {
    position: absolute;
    bottom: -4vh;
    left: 0;
}

#logo {
    height: 3em;
}

nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100vw;
    height: 0;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color-transparent);
    box-shadow: 0 5px 5px var(--overlay-color);
    overflow: hidden;
    transition: height .5s ease;
}

nav a {
    margin: .6em;
    width: fit-content;
    color: var(--text-color-dark);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
}

.nav-toggle-label {
    font-size: 2rem;
}

#nav-toggle:checked ~ nav {
    height: 45vh;
    padding: 1em 0;
}

#nav-toggle {
    display: none;
}

/* main */

main {
    margin-top: 5em;
}

/* hero */

#hero {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url('../images/hero-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#overlay {
    height: 100%;
    width: 100%;
    background-color: var(--overlay-color);
}

#cover-container {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

#cover-text {
    color: var(--secondary-color);
    text-align: center;
    padding: 1em;
    width: 100%;
}

#cover-text p {
    padding: .5em;
}

#cover-text > * {
    color: var(--secondary-color);
}

.cover-btn {
    width: fit-content;
}

#hero .tear-up {
    position: absolute;
    bottom: -1vh;
    left: 0;
}

/* about */

#about {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#workspace {
    width: 50vw;
    height: auto;
    border-radius: 1em;

}

/* Media querries */

@media screen and (min-width: 768px) {
    
    /* general */

    .btn {
        font-size: 1.5em;
        padding: .5em 1em;
    }

    /* header */

    nav {
        position: relative;
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        top: 0;
        box-shadow: none;
        background-color: var(--secondary-color);
    }

    nav a {
        margin: .5em;
        width: fit-content;
        color: var(--text-color-dark);
        text-decoration: none;
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
    }    

    .nav-toggle-label {
        display: none;
    }

    /* main */

    #cover-container {
        top: 30%;
        flex-direction: row;
        justify-content: space-around;
        }

    #cover-text {
        width: 40%;
        order: 5;
    }
    
    #cover-text p {
        display: block;
        padding: 1em;
    }
}