/* global */

:root {
    --primary-color: #0081c9;
    --primary-color-transparent: #0081c9ee;
    --secondary-color: #fff6d5;
    --secondary-color-transparent: #fff6d5ee;
    --overlay-color: #232323dd;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.btn {
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    padding: .5em 1em;
    border: solid 3px var(--primary-color);
    border-radius: .5em;
    background-color: var(--primary-color-transparent);
    color: var(--secondary-color);
    text-transform: uppercase;
}

.btn:hover {
    background-color: var(--secondary-color-transparent);
    color: var(--primary-color);
}

/* header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5em;
    z-index: 99;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px var(--overlay-color);
}

#logo {
    height: 3em;
}

nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100vw;
    padding: 1em 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 5px 5px var(--overlay-color);
}

nav a {
    margin: .6em;
    width: fit-content;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
}

.nav-toggle-label {
    font-size: 2rem;
}

#nav-toggle:checked ~ nav {
    display: flex;
}

#nav-toggle {
    display: none;
}

/* main */

main {
    margin-top: 5em;
}

#hero {
    position: relative;
    width: 100%;
    height: 65vh;
    background-image: url('../images/hero-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#overlay {
    height: 100%;
    width: 100%;
    background-color: var(--overlay-color);
}

#cover-container {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

#cover-text {
    color: azure;
    text-align: center;
    padding: 1em;
    width: 100%;
}

#cover-text p {
    padding: .5em;
}

.cover-btn {
    width: fit-content;
}

/* Media querries */

@media screen and (min-width: 768px) {
    
    /* general */

    .btn {
        font-size: 1.5em;
        padding: .5em 1em;
        border: solid 5px var(--primary-color);
    }

    /* header */

    nav {
        position: relative;
        width: fit-content;
        display: flex;
        flex-direction: row;
        top: 0;
        box-shadow: none;
    }

    nav a {
        margin: .5em;
        width: fit-content;
        text-decoration: none;
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
    }    

    .nav-toggle-label {
        display: none;
    }

    /* main */

    #cover-container {
        top: 30%;
        flex-direction: row;
        justify-content: space-around;
        }

    #cover-text {
        width: 40%;
        order: 5;
    }
    
    #cover-text p {
        display: block;
        padding: 1em;
    }
}